
@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100">
            @*<form class="login100-form validate-form">*@
            <span class="login100-form-logo">
                <i class="zmdi zmdi-landscape"></i>
            </span>

            <span class="login100-form-title p-b-34 p-t-27">
                Log in
            </span>

            <div class="wrap-input100 validate-input" data-validate="Enter Email">
                <input class="input100" type="text" id="email" name="email" placeholder="Email">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input class="input100" type="password" id="password" name="password" placeholder="Password">
                <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                    Remember me
                </label>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" id="Login" onclick="Login()">
                    Login
                </button>
            </div>

            <div class="text-center p-t-90">
                <a class="txt1" href="#">
                    Forgot Password?
                </a>
            </div>
            @*</form>*@
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>

@section scrip{

    <script src="~/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Login_v3/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Login_v3/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Login_v3/vendor/select2/select2.min.js"></script>
    <script src="~/Login_v3/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Login_v3/js/main.js"></script>
    <script src="~/Script/LoginScript.js"></script>
    <script src="~/Script/sweetalert2@10.js"></script>

}
