
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="wrap-input100 validate-input" data-validate="Enter Email">
                <input class="input100" type="text" id="email" name="email" placeholder="Email">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn" id="Register" onclick="">
                    Register
                </button>
            </div>

        </div>
    </div>
        
 </div>

    @section scrip{

        <script src="~/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="~/Login_v3/vendor/animsition/js/animsition.min.js"></script>
        <script src="~/Login_v3/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Login_v3/vendor/select2/select2.min.js"></script>
        <script src="~/Login_v3/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
        <script src="~/Login_v3/vendor/countdowntime/countdowntime.js"></script>
        <script src="~/Login_v3/js/main.js"></script>
        <script src="~/Script/LoginScript.js"></script>
        <script src="~/Script/sweetalert2@10.js"></script>

    }
